/MathString59/nbproject/private/
/MathString59/build/
/TestString59/nbproject/private/
/TestString59/build/
/TestLoops59/nbproject/private/
/TestLoops59/build/
/TestMethods/nbproject/private/
/TestMethods/build/
/RandomPasswordGenarator/nbproject/private/
/RandomPasswordGenarator/build/
/TestSingleDimentionalArray/nbproject/private/
/TestSingleDimentionalArray/build/
/TestTwoDinmensionalArray59/nbproject/private/
/TestTwoDinmensionalArray59/build/
/TestClassAndObject59/nbproject/private/
/TestClassAndObject59/build/
/TestObejectThinking59/nbproject/private/
/TestObejectThinking59/build/
